.consent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Start items at the top */
    height: 90vh; /* Adjusted for viewport height */
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 20px auto;
    max-width: 800px;
    overflow: auto; /* Add scrollbars when content overflows */
}

.consent-container h1 {
    text-align: center;
    color: #007bff; /* iOS blue for headers */
}

.consent-container p {
    font-size: 16px; /* Slightly smaller font size for iOS-like text */
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px; /* Reduced margin */
}

.consent-container button.consent-button {
    padding: 12px 24px; /* Larger padding for a more clickable area */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px; /* More rounded corners for buttons */
    cursor: pointer;
    font-size: 18px; /* Larger font size */
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for the button */
    display: block; /* Make the button a block-level element */
    width: fit-content; /* Fit the content width */
    margin: 20px auto; /* Auto margins for left and right to center the button */
}

.consent-container button.consent-button:hover {
    background-color: #0056b3;
}
