.consent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Set to auto to take only the required space */
    max-height: 90vh; /* Maximum height to ensure it doesn't take full screen */
    padding: 20px; /* Added padding for smaller screens */
    margin-top: 5vh; /* Added margin for smaller screens */
}

.consent-form {
    width: 60%; /* Adjust width as needed */
    max-width: 800px; /* Maximum width */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* In case the text is too long */
    max-height: 70vh; /* Maximum height for the form to ensure it doesn't get too large */
}

.consent-form h1 {
    margin-bottom: 20px;
    text-align: center;
}

.consent-text {
    margin-bottom: 20px;
    text-align: justify; /* For better readability */
    line-height: 1.6; /* Line height for better readability */
}

.consent-form button.consent-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Adjust width as needed */
    display: block; /* Center the button */
    margin: 20px auto; /* Center the button and add margin on top and bottom */
}

.consent-form button.consent-button:hover {
    background-color: #0056b3;
}
