.demographic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.demographic-form {
    width: 50%; /* Adjust width as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.demographic-form h1 {
    text-align: center;
    color: #007bff; /* iOS blue for headers */
}

.demographic-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.demographic-form form input,
.demographic-form form select,
.demographic-form form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.demographic-form form button {
    padding: 12px 24px; /* Larger padding for a more clickable area */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px; /* More rounded corners for buttons */
    cursor: pointer;
    font-size: 18px; /* Larger font size */
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for the button */
    display: block; /* Make the button a block-level element */
    width: fit-content; /* Fit the content width */
    margin: 20px auto; /* Auto margins for left and right to center the button */
}

.demographic-form form button:hover {
    background-color: #0056b3;
}

.demographic-form form button:disabled {
    background-color: #cccccc; /* Grey background for disabled state */
    color: #666666; /* Darker text color for disabled state */
    cursor: not-allowed; /* Change cursor for disabled state */
    opacity: 0.7; /* Greyed out appearance */
}

/* Additional CSS to ensure textarea is on a new line */
.demographic-form form .form-group label + textarea {
    display: block; /* Ensure textarea takes full width and appears on a new line */
    width: 97%;
    max-width: 97%;
}
