.mcq-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Use the full width of the container */
    max-width: 800px; /* Max width to prevent it from being too wide on larger screens */
    margin: auto;
    margin-top: 30px;
}

.mcq-question {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center; /* Center-align the question text */
}

.mcq-choices {
    list-style: none;
    padding: 0;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align buttons in the center */
}

.mcq-choice,
.mcq-skip {
    background-color: #007bff;
    color: white;
    padding: 10px 20px; /* Increase padding for better touch targets */
    margin-bottom: 10px; /* Space between buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    width: 80%; /* Make buttons wider */
    text-align: center; /* Center-align text in buttons */
    box-sizing: border-box;
}

.mcq-choice:hover {
    background-color: #0056b3;
}

.mcq-skip {
    background-color: #6c757d; /* Different background color for skip button */
}

.mcq-skip:hover {
    background-color: #5a6268;
}
