.survey-instruction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Start items at the top */
    height: 90vh; /* Adjusted for viewport height */
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 20px auto;
    max-width: 800px;
    max-height: 800px;
    overflow: auto; /* Add scrollbars when content overflows */
}

.survey-instruction-container h1, .survey-instruction-container h2 {
    color: #007bff; /* iOS blue for headers */
    text-align: center;
}

.survey-instruction-container p {
    font-size: 16px; /* Slightly smaller font size for iOS-like text */
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px; /* Reduced margin */
}

.survey-instruction-container ul {
    list-style: inside;
    padding: 0;
    text-align: left; /* Align text to the left for clarity */
}

.survey-instruction-container li {
    margin-bottom: 10px;
}

.survey-instruction-container img {
    max-width: 100%;
    height: auto;
    margin: 20px 0; /* Spacing above and below the images */
}

/* Optional: Add a container around images for further styling or alignment */
.image-container {
    text-align: center; /* Center-align the images if needed */
}

/* Add descriptive text styles if needed */
.image-description {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: #666; /* Subtle color for descriptions */
}

.survey-instruction-container button {
    padding: 12px 24px; /* Larger padding for a more clickable area */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px; /* More rounded corners for buttons */
    cursor: pointer;
    font-size: 18px; /* Larger font size */
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for the button */
}

.survey-instruction-container button:hover {
    background-color: #0056b3; /* Slightly darker shade on hover */
}
